@model HomeViewModel

<partial name="_Carousel" />

<div class="text-center">
    <img src="Images/logomark.png" class="logo-mark mx-auto" />
    <h1>Guitars of the month</h1>
    <h5>Enjoy a monthly selection of our favorite guitars</h5>

    <div class="row guitars-of-the-month">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var guitar in Model.GuitarsOfTheMonth)
            {
                <partial name="_GuitarCard" model="guitar" />
            }
        </div>

    </div>
</div>
